<h2>Forum</h2>

<%= form_tag("/posts", method: "get") do %>
  <%= text_field_tag "search" %>
  <%= submit_tag ("Search"), {:class => 'btn btn-warning'} %>
<% end %>

<%= link_to 'See All Posts', posts_path %>
<h3>Talk about your favorite man servant</h3>
<%= link_to "Add Post", new_post_path %>
<% @posts.each do |post| %>
  <div class="well">
    <p><%= post.title %></p>
    <p><%= post.author %></p>
    <p><%= post.content %></p>
  </div>
<% end %>
